body{
    margin: 0;
    padding: 0;
    background-color: #009970;
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
    color:rgb(11, 11, 194);
    padding: 20px;
    overflow-y: hidden;
  }
  .register{
    overflow-y: scroll;
    transform: translate(5%, 5%);
    background-color: #00cc95;
    width: 80%;
    height: 80%;
    text-align: center;
  }
  .section{
    transform: translate(-53%,0%);
  }
  img
    {
      width: 30%;
height: 60%;


    }

  .register input[type="text"]
  {
      padding: 20px;
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 10%;
    width: 80%;
    color:white;
  }

span{

  color: #97C6E3;
  font-size: 30px;
  cursor: pointer;

}


  .register input[type="submit"]
{
border:none;
outline: none;
height: 10%;
width: 50%;
background:white;
color:black;
font-size: 18px;
transform: translate(0%,40%);
border-radius: 30px;
} 
.register input[type="submit"]:hover{
  background-color:#B0BBC5;
    color:black;
    transition-duration: 0.5s;
}
